NAV_NAV_F07_1_10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:common="https://soap.api.nav.gov.hu/definitions/model/2.0/common/1.0"
        xmlns:meta="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
        xmlns:tns="https://soap.api.nav.gov.hu/definitions/model/2.0/NAV_F07/1.10"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        targetNamespace="https://soap.api.nav.gov.hu/definitions/model/2.0/NAV_F07/1.10">
   <import namespace="https://api.nav.gov.hu/definitions/form_xsd_metaschema/1.0"
           schemaLocation="form_xsd_metaschema.xsd"/>
   <import namespace="https://soap.api.nav.gov.hu/definitions/model/2.0/common/1.0"
           schemaLocation="common.xsd"/>
   <element name="Doc_NAV_F07"
            type="tns:Doc_NAV_F07_Type"
            meta:metaType="DocMetaType">
      <annotation>
         <documentation>Jogorvoslati kérelem fémkereskedelmi ügyben</documentation>
      </annotation>
   </element>
   <simpleType name="Enum_NAV_F07_0A0001G003A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F07_0A0001G005A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="HU311500"/>
         <enumeration value="HU211000"/>
         <enumeration value="HU521000"/>
         <enumeration value="HU150000"/>
         <enumeration value="HU411000"/>
         <enumeration value="HU511000"/>
         <enumeration value="HU821000"/>
         <enumeration value="HU611000"/>
         <enumeration value="HU711000"/>
         <enumeration value="HU421000"/>
         <enumeration value="HU321000"/>
         <enumeration value="HU160000"/>
         <enumeration value="HU102000"/>
         <enumeration value="HU621000"/>
         <enumeration value="HU831000"/>
         <enumeration value="HU811000"/>
         <enumeration value="HU221000"/>
         <enumeration value="HU721000"/>
         <enumeration value="HU231000"/>
         <enumeration value="HU911000"/>
         <enumeration value="HU631000"/>
         <enumeration value="HU921000"/>
      </restriction>
   </simpleType>
   <simpleType name="Enum_NAV_F07_0A0001G001A">
      <annotation>
         <documentation>Enum értékek </documentation>
      </annotation>
      <restriction base="xs:string">
         <enumeration value="EK"/>
         <enumeration value="JE"/>
      </restriction>
   </simpleType>
   <complexType name="Doc_NAV_F07_Type">
      <annotation>
         <documentation>A teljes bizonylat szerkezetet leíró típus</documentation>
      </annotation>
      <sequence>
         <element name="Form_NAV_F07"
                  type="tns:Form_NAV_F07_Type"
                  minOccurs="1"
                  maxOccurs="1"
                  meta:metaType="FormMetaType">
            <annotation>
               <documentation>NAV_F07 részbizonylat</documentation>
            </annotation>
            <xs:unique name="uniqueFileId_Attachment_1_NAV_F07">
               <xs:selector xpath="Attachment_1"/>
               <xs:field xpath="fileId"/>
            </xs:unique>
         </element>
      </sequence>
   </complexType>
   <complexType name="Form_NAV_F07_Type">
      <annotation>
         <documentation>A teljes nyomtatvány NAV_F07 részbiztonylatának szerkezetét leíró típus.</documentation>
      </annotation>
      <sequence>
         <element name="Block_120001"
                  type="tns:Block_NAV_F07_120001_Type"
                  minOccurs="0"
                  meta:metaType="BlockMetaType">
            <annotation>
               <documentation>Azonosítás</documentation>
            </annotation>
         </element>
         <element name="Attachment_1"
                  type="common:AttachmentType"
                  minOccurs="0"
                  maxOccurs="unbounded"
                  meta:metaType="AttachmentMetaType">
            <annotation>
               <documentation>Csatolmány; File Extensions:*</documentation>
            </annotation>
         </element>
      </sequence>
   </complexType>
   <complexType name="Block_NAV_F07_120001_Type">
      <annotation>
         <documentation>Azonosítás</documentation>
      </annotation>
      <all>
         <element name="FieldGroup_120002"
                  type="tns:FieldGroup_NAV_F07_120002_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Azonosítás</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120003"
                  type="tns:FieldGroup_NAV_F07_120003_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Beadvány azonosítás</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120005"
                  type="tns:FieldGroup_NAV_F07_120005_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>Hitelesítés</documentation>
            </annotation>
         </element>
         <element name="FieldGroup_120006"
                  type="tns:FieldGroup_NAV_F07_120006_Type"
                  minOccurs="0"
                  meta:metaType="FieldGroupMetaType">
            <annotation>
               <documentation>NAV_F07-01</documentation>
            </annotation>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F07_120002_Type">
      <annotation>
         <documentation>Azonosítás</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001F001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adószám (IKTATO.ADOIG)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="11"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Adóazonosító jel (IKTATO.ADOAZON)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Név (IKTATO.NEV)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Irányítószám (IKTATO.IRSZAM)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="8"/>
                  <pattern value="[A-Z0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F005A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>város/község (IKTATO.VAROS)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001F006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>cím/helyrajzi szám (IKTATO.CIM)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F07_120003_Type">
      <annotation>
         <documentation>Beadvány azonosítás</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001G001A"
                  minOccurs="0"
                  type="tns:Enum_NAV_F07_0A0001G001A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Iktatás típusa (iktato.ikttip)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001G002A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(___38208)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="256"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001G003A"
                  minOccurs="0"
                  type="tns:Enum_NAV_F07_0A0001G003A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kérelem típusa (iktato.biztip)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001G004A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(___38174)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="256"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001G005A"
                  minOccurs="0"
                  type="tns:Enum_NAV_F07_0A0001G005A"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogorvoslattal érintett döntést meghozó NAV igazgatóság (fej.cimzett_vhkod)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001G006A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(___38206)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="300"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001G007A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Jogorvoslattal érintett döntés iktatószáma (IKTATO.HIVAZON)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001G008A"
                  minOccurs="0"
                  type="xs:boolean"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hiánypótlás (sHIANYPOTLAS)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001G009A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Hiánypótlásra felszólítás iktatószáma (IKTATO.KAPCSIKTSZ)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F07_120005_Type">
      <annotation>
         <documentation>Hitelesítés</documentation>
      </annotation>
      <all>
         <element name="Field_0A0001H002A"
                  minOccurs="0"
                  type="xs:date"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Felelősségem tudatában kijelentem, hogy a közölt adatok a valóságnak megfelelnek. (IKTATO.BKELT)</documentation>
            </annotation>
         </element>
         <element name="Field_0A0001H001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Aláírás helysége (kelthely)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001H003A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Bejelentő azonosító (XML_ABEV.BEJELENT_ADOAZON)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="10"/>
                  <pattern value="[0-9]+"/>
               </restriction>
            </simpleType>
         </element>
         <element name="Field_0A0001H00500A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>(alairas)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="80"/>
                  <pattern value="\P{C}+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
   <complexType name="FieldGroup_NAV_F07_120006_Type">
      <annotation>
         <documentation>NAV_F07-01</documentation>
      </annotation>
      <all>
         <element name="Field_0BXXXXC001A"
                  minOccurs="0"
                  meta:metaType="FieldMetaType">
            <annotation>
               <documentation>Kérelem szövege (v_nat_jog_ker.kerelem)</documentation>
            </annotation>
            <simpleType>
               <restriction base="string">
                  <minLength value="1"/>
                  <maxLength value="999"/>
                  <pattern value="[\t\n\r\P{C}]+"/>
               </restriction>
            </simpleType>
         </element>
      </all>
   </complexType>
</schema>
